@import url('https://fonts.googleapis.com/css2?family=Ovo&family=Poppins');

body {
    font-family: 'Ovo', serif;
    font-family: 'Poppins', sans-serif;
}

.modal-dialog {
    position: fixed;
    top: auto;
    right: auto;
    left: auto;
    bottom: 0;
}

.animate-bottom {
    position: relative;
    animation: animatebottom 0.4s;
}

@keyframes animatebottom {
    from {
        bottom: -300px;
        opacity: 0;
    }

    to {
        bottom: 0;
        opacity: 1;
    }
}

.modal.fade .modal-dialog {
    -webkit-transform: translate(0, 100%);
    -ms-transform: translate(0, 100%);
    -o-transform: translate(0, 100%);
    transform: translate(0, 100%);
}

.modal.show .modal-dialog {
    transform: translate3d(0, 0, 0);
}